:root {
  --button-bg: #bbb;
}
.App {
  text-align: center;
  border-radius: 10em;
  direction: rtl;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#button-addon2 {
  border-radius: .4rem;
  margin: 5px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-color: var(--button-bg);
}

#button-addon2:hover {
  background-color:var(--button-bg);
}

#search-bar {
  border-radius: 3rem;
  padding-left: 20rem;
}

.text-container {
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, blue, red, yellow, blue, green, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    font-size: xx-large;
    font-weight: bold;
}
